xml/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="granja">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="animal" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="crotal">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z]{2}\d+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="especie">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="raza" type="xs:string"/>
              <xs:element name="fechaNacimiento" type="xs:date"/>
              <xs:element name="pesoKg">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="estado">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Sano"/>
                    <xs:enumeration value="Enfermo"/>
                    <xs:enumeration value="Tratamiento"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="proposito" type="xs:string"/>
              <xs:element name="corral" type="xs:string"/>
              <xs:element name="granja" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>